{% extends 'base.html' %}

{% block title %}
About Us
{% endblock title %}

{% block content %}
    {% include 'visitor_side/includes/navbar.html' %}
    <section class="container  mx-auto">
        <h1 class='text-3xl'>About Us</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat molestias facere voluptate similique repellendus quia id. Magni ipsam asperiores beatae totam cum odit quas magnam, pariatur vero inventore sapiente accusantium.</p>
    </section>
    {% include 'visitor_side/includes/footer.html' %}
{% endblock content %}