* {
  padding: 0px;
  margin: 0px;
}

.head {
  color: blue;
}
.pp {
  color: red;
}
img {
  padding: 50;
}
.headnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 70px;
}

.navlist {
  display: flex;
  list-style-type: none;
}
