{% extends 'base.html' %}
{% load static %}

{% block title %}
    Dashboard
{% endblock title %}

{% block links %}
<link rel="stylesheet" href="{% static "user_side/css/app.css" %}">
{% endblock links %}

{% block content %}

{% include 'user_side/includes/navbar.html' %}
{% include 'user_side/includes/sidebar.html' %}

<section class="container mx-auto text-center">
    <form method="POST">
        {% csrf_token %}
        <div class="relative my-5">
            <div class="form-input my-3">
                <label for="new_password1" class="leading-7 font-medium text-sm text-blue-500">Old password</label>
                {{form.old_password}}
                {{form.old_password.errors}}
            </div>
            <div class="form-input my-3">
                <label for="new_password1" class="leading-7 font-medium text-sm text-blue-500">New password</label>
                {{form.new_password1}}
                {{form.new_password1.errors}}
            </div>
            <div class="form-input my-3">
                <label for="new_password1" class="leading-7 font-medium text-sm text-blue-500">Confirm password</label>
                {{form.new_password2}}
                 {{form.new_password2.errors}}
            </div>
        </div>
        <button type="submit" class="text-white bg-blue-500 border-0 py-2 px-6 focus:outline-none hover:bg-blue-600 rounded text-lg">Change</button>
    </form>
</section>
    
{% endblock %}