{% extends 'base.html' %}
{% load static %}

{% block title %}
Passwords
{% endblock title %}

{% block links %}
<link rel="stylesheet" href="{% static "user_side/css/app.css" %}">
{% endblock links %}

{% block content %}
    {% include 'user_side/includes/navbar.html' %}
    <main class="container mx-auto relative">
        {% include 'user_side/includes/sidebar.html' %}
        <div id="main-body" class='py-10 md:px-5 relative flex justify-between'>
            <div class="password-input-container md:p-5">
                <h1 class="text-3xl font-medium text-blue-600">Password Manger</h1>
                <form method="POST" class='my-5'>
                    {% csrf_token %}
                    <div class="form-control my-2">
                        <label for="username" class="leading-7 font-medium text-m text-blue-500">Username</label>
                        {{form.username}}
                        {{form.username.errors}}
                    </div>
                    <div class="form-control my-2">
                        <label for="password" class="leading-7 font-medium text-m text-blue-500">Password</label>
                        {{form.password}}
                        {{form.password.errors}}
                    </div>
                    <button type="submit" class="w-full mt-5 text-white bg-blue-500 border-0 py-2 px-6 focus:outline-none hover:bg-blue-600 rounded text-lg">Add</button>
                </form>
            </div>
            <div class="password-list-container md:p-5">
                <h1 class="text-2xl font-medium text-blue-600">List</h1>
                <ul class='my-3'>
                    {% if passwords|length == 0%}
                        <p class='text-gray-500'>No Saved Passwords</p>
                    {% endif %}
                    {% for password in passwords %}
                        <li class='flex p-5 my-5 bg-gray-200 justify-between'>
                            <span>{{password.username}}</span>
                            <span class="icons flex">
                                <img src="{% static 'user_side/images/eye.png' %}" alt="Preview">
                                <img src="{% static 'user_side/images/edit.png' %}" alt="Edit">
                                <a class="delete-link" href="{% url 'user-password-delete' password.id %}">
                                    <img src="{% static 'user_side/images/trash.png' %}" alt="Trash">
                                </a>
                            </span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </main>
{% endblock %}