{% extends 'base.html' %}
{% load static %}

{% block title %}
    New Password Form
{% endblock title %}

{% block links %}
<link rel="stylesheet" href="{% static "auth_side/css/app.css" %}">
{% endblock links %}

{% block content %}

{% include 'auth_side/includes/navbar.html' %}
    <section class="container mx-auto text-center my-8">
    <h2 class='text-3xl text-blue-500 font-medium'>Enter new Password</h2>
    <p class="text-gray-600 my-2">Please Enter Your new Passwordd twice so we can verify you typed it in correctly.</p>
    <form method="POST" class="w-full mx-auto">
            {% csrf_token %}
            <div class="relative my-5">
                <label for="new_password1" class="leading-7 text-sm text-blue-500">New password</label>
                {{form.new_password1}}
            </div>
            <div class="relative my-5">
                <label for="new_password2" class="leading-7 text-sm text-blue-500">Confirm password</label>
                {{form.new_password2}}
            </div>
            <button type='submit' class="text-white bg-blue-500 border-0 py-2 px-6 focus:outline-none hover:bg-blue-600 rounded text-lg">Submit</button>
            </form>
</section>
{% endblock %}