{% extends 'base.html' %}
{% load static %}

{% block title %}
    Password Reset
{% endblock title %}

{% block links %}
<link rel="stylesheet" href="{% static "auth_side/css/app.css" %}">
{% endblock links %}

{% block content %}

{% include 'auth_side/includes/navbar.html' %}

<section class="container mx-auto text-center my-8">
    <h2 class='text-3xl text-blue-500 font-medium'>Password Reset</h2>
    <p class="text-gray-600 my-2">Enter your email address below, and we'll email instructions for setting a new one.</p>
    <form method="POST" class="w-full mx-auto">
            {% csrf_token %}
            <div class="relative my-5">
                <label for="email" class="leading-7 text-sm text-blue-500">Email</label>
                {{form.email}}
            </div>
            <button type='submit' class="text-white bg-blue-500 border-0 py-2 px-6 focus:outline-none hover:bg-blue-600 rounded text-lg">Submit</button>
            {{form.message}}
            {{form.errors}}
            </form>
</section>

{% endblock %}
